.blog {
	margin: 40px 0;

	@include xs {
		margin: 30px 0;
	}

	h1 {
		font-size: clamp(1.2rem, 0.946rem + 1.41vw, 2.3rem);
	}

	h2 {
		font-size: clamp(1rem, 0.769rem + 1.282vw, 2rem);
	}

	h3 {
		font-size: clamp(0.9rem, 0.692rem + 1.154vw, 1.8rem);
	}

	&__title {
		text-align: center;
	}

	&__tags {
		margin-top: 40px;

		@include xs {
			margin-top: 20px;
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 70px;
		margin-top: 55px;

		@include hg {
			gap: 40px;
			margin-top: 40px;
		}

		@include md {
			grid-template-columns: 1fr 1fr;
			gap: 20px;
		}

		@include xs {
			grid-template-columns: 1fr;
			margin-top: 20px;
		}
	}

	&__item {

		&.hidden {
			display: none;
		}
	}

	&__button {
		margin: 40px auto 0;

		&.hidden {
			display: none;
		}
	}
}
