.course-cats {
	padding: 50px 0;

	&__title,
	&__text {
		max-width: 720px;
		margin: 0 auto;
		text-align: center;
	}

	&__text {
		margin-top: 10px;

		@include xs {
			font-size: 0.8889rem;
		}
	}

	&__tabs {
		display: flex;
		flex-wrap: wrap;
		gap: 10px;
		align-items: center;
		justify-content: center;
		margin-top: 25px;
	}

	&__tab {
		display: flex;
		align-items: center;
		justify-content: center;
		min-width: 270px;
		min-height: 55px;
		padding: 15px 30px;
		color: var(--primary);
		font-size: 0.7778rem;
		text-align: center;
		border: 1px solid var(--primary);
		border-radius: 10px;
		cursor: pointer;
		transition: var(--transition);

		&.active {
			color: var(--fc-light);
			background-color: var(--primary);
			cursor: default;
		}
	}

	&__holder {
		position: relative;
		margin-top: 30px;
	}

	&__cat {
		position: absolute;
		display: none;
		overflow: visible;

		@include sm {
			overflow: hidden;
		}

		&.active {
			position: relative;
			display: block;
			animation: tabShow 0.4s ease-out; // From animations.scss
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		gap: 20px;
		align-items: center;
		justify-content: center;

		@include hg {
			grid-template-columns: repeat(3, 1fr);
		}

		@include md {
			grid-template-columns: 1fr 1fr;
		}

		@include sm {
			display: flex;
			gap: 0;
			align-items: unset;
			justify-content: unset;
		}
	}

	&__item {

		@include sm {
			max-width: 450px;
			height: auto;
		}

		@include xs {
			max-width: 300px;
		}
	}

	&__pagination {
		display: none;

		@include sm {
			display: flex;
		}
	}

	&__link {
		width: 100%;
		max-width: 350px;
		margin: 30px auto 0;

		@include sm {
			margin: 30px auto 10px;
		}
	}
}
