.course-card {
	height: 100%;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 0 0 20px rgba(#000, 0.1);
	transition: var(--transition);

	&:has(a[href]) {

		@include mouse {

			&:hover {
				transform: translateY(-5px);
			}
		}
	}

	&__link {
		display: flex;
		flex-direction: column;
		gap: 20px;
		height: 100%;
		text-decoration: none;
	}

	&__img {
		width: 100%;
		height: auto;
		aspect-ratio: 16/9;
		object-fit: cover;
	}

	&__content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 10px;
		align-items: center;
		justify-content: center;
		padding: 0 35px 40px;
		font-weight: 700;
		font-family: var(--font-secondary);
		text-align: center;
		text-transform: uppercase;

		@include xs {
			padding: 0 20px 30px;
		}
	}

	&__master {
		color: var(--primary);

		@include hg {
			font-size: 0.8889rem;
		}
	}

	&__title {
		color: var(--secondary);
		font-size: 1.5556rem;

		@include hg {
			font-size: 1.2222rem;
		}
	}
}
