.input {
	width: 100%;
	min-height: 55px;
	padding: 20px 30px;
	color: #000;
	font-weight: 400;
	font-size: 0.7778rem;
	font-family: var(--font-tertiary);
	background: var(--bg-primary);
	border: 2px solid transparent;
	border-radius: 10px;
	transition: var(--transition);

	@include xs {
		border-width: 1px;
	}

	&:hover,
	&:focus {
		border-color: var(--tertiary);
	}

	&::placeholder {
		color: inherit;
		font-family: inherit;
	}
}

.radio,
.checkbox {
	display: flex;
	gap: 15px;
	font-weight: 400;
	font-size: 0.7222rem;

	@include mouse {

		&:hover {

			.radio__switcher,
			.checkbox__switcher {
				border-color: var(--fc-dark);
			}
		}
	}

	&__input {
		display: none;
		appearance: none;
	}

	&__switcher {
		position: relative;
		flex-shrink: 0;
		width: 20px;
		height: 20px;
		background: var(--bg-primary);
		border: 1px solid transparent;
		cursor: pointer;
		transition: var(--transition);
	}

	&__text {

		span {
			color: var(--fc-light);
			font-family: var(--font-tertiary);
		}
	}
}

.radio {

	&__switcher {
		border-radius: 50%;

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 10px;
			height: 10px;
			background: var(--fc-dark);
			border-radius: 50%;
			transform: translate(-50%, -50%) scale(0);
			visibility: hidden;
			transition: var(--transition);
			content: "";
		}
	}

	&__input:checked + &__switcher::before {
		transform: translate(-50%, -50%) scale(1);
		visibility: visible;
	}
}

.checkbox {
	border-radius: 2px;

	&__switcher {

		&::before {
			position: absolute;
			top: 40%;
			left: 50%;
			width: 12px;
			height: 6px;
			border-bottom: 2px solid var(--tertiary);
			border-left: 2px solid var(--tertiary);
			transform: translate(-50%, -50%) rotate(-45deg);
			visibility: hidden;
			opacity: 0;
			content: "";
		}
	}

	&__input:checked + &__switcher::before {
		visibility: visible;
		opacity: 1;
	}
}
