.graduates {
	padding: 50px 0;
	overflow: hidden;

	&__title {
		margin: 0 1.5rem;
		text-align: center;
	}

	&__slider {
		margin-top: 60px;
		overflow: visible;

		@include hg {
			margin-top: 40px;
			padding: 0 80px;
		}

		@include md {
			margin: 40px 0.75rem 0;
			padding: 0;
		}

		@include xs {
			margin: 20px 0.75rem 0;
		}
	}

	&__item {
		display: flex;
		gap: 10px;
		align-items: center;
		max-width: 1280px;
		height: auto;
		padding: 40px 100px 0;
		overflow: hidden;
		border-radius: 10px;
		box-shadow: 0 0 20px rgba(#000, 0.2);

		@include hg {
			max-width: none;
		}

		@include lg {
			padding: 30px 60px 0;
		}

		@include md {
			padding: 30px 40px;
		}

		@include xs {
			padding: 10px 10px 15px;
		}
	}

	&__item-content {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		gap: 30px;
		padding-bottom: 30px;

		@include hg {
			gap: 20px;
		}

		@include md {
			padding-bottom: 0;
		}

		@include xs {
			gap: 15px;
		}
	}

	&__item-title {
		color: var(--secondary);
		font-weight: 700;
		font-size: 28px;
		text-transform: uppercase;

		@include hg {
			font-size: 24px;
		}

		@include md {
			text-align: center;
		}

		@include xs {
			font-size: 20px;
		}
	}

	&__item-legend {
		margin-bottom: 5px;
		color: var(--primary);
		font-weight: 700;
	}

	&__item-list {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}

	&__item-item {
		display: flex;
		gap: 15px;
		align-items: flex-start;

		@include hg {
			gap: 10px;
			font-size: 16px;
		}

		&::before {
			display: block;
			flex-shrink: 0;
			width: 20px;
			height: auto;
			aspect-ratio: 11/10;
			background: url(assets/images/icon-heart.svg) no-repeat 50% / contain;
			content: "";
		}
	}

	&__item-story {
		line-height: 1.4;

		@include hg {
			font-size: 16px;
		}
	}

	&__item-btn {
		width: 100%;
		max-width: 350px;

		@include md {
			margin: 0 auto;
		}
	}

	&__item-img {
		display: flex;
		flex-shrink: 0;
		align-items: flex-end;
		justify-content: center;
		max-width: 40%;
		height: 100%;
		overflow: hidden;

		@include md {
			display: none;
		}

		img {
			width: 100%;
			height: auto;
			max-height: 600px;
			object-fit: contain;

			@include hg {
				max-height: 450px;
			}
		}
	}

	&__controls {
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: var(--ui-index-1);
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 1400px;
		transform: translate(-50%, -50%);
		pointer-events: none;

		@include hg {
			left: 0;
			max-width: 100%;
			padding: 0 1.5rem;
			transform: translateY(-50%);
		}

		@include md {
			display: none;
		}
	}

	&__prev,
	&__next {
		pointer-events: all;
	}

	&__pagination {
		display: none;

		@include md {
			display: flex;
		}
	}
}
