.main-text {
	margin: 80px 0 30px;

	@include hg {
		margin: 60px 0 30px;
	}

	@include xs {
		margin: 30px 0;
	}

	h1 {
		font-size: clamp(1.2rem, 0.946rem + 1.41vw, 2.3rem);
	}

	h2 {
		font-size: clamp(1rem, 0.769rem + 1.282vw, 2rem);
	}

	h3 {
		font-size: clamp(0.9rem, 0.692rem + 1.154vw, 1.8rem);
	}

	&__title {
		font-weight: 700;
		font-family: var(--font-secondary);
		text-transform: uppercase;

		@include sm {
			text-align: center;
		}
	}

	&__text {
		font-size: 1.111rem;
		line-height: 1.5;

		@include hg {
			font-size: 1rem;
		}

		@include xs {
			font-size: 0.8889rem;
		}
	}
}
