.not-found {
	display: flex;
	justify-content: center;
	min-height: 100vh;
	padding: 160px 0 50px;
	background: url(assets/images/welcome-bg.jpg) no-repeat 50% / cover;

	@include hg {
		padding: 120px 0 50px;
	}

	@include xs {
		padding: 140px 0 30px;
	}

	&__container {
		display: flex;
		flex-direction: column;
		gap: 40px;
		align-items: center;
		justify-content: center;
		color: var(--fc-light);

		@include xs {
			gap: 20px;
		}

		&::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 40vw;
			max-width: 300px;
			height: auto;
			aspect-ratio: 1/1;
			background: url(assets/images/logo-main.png) no-repeat 50% / cover;
			transform: translate(-50%, -50%);
			opacity: 0.2;
			content: "";
		}
	}

	&__title {
		text-align: center;
	}

	&__text {
		max-width: 80%;
		font-size: 20px;
		line-height: 1.4;
		text-align: center;
		text-shadow: 1px 1px 0 var(--fc-dark);

		@include sm {
			max-width: none;
			font-size: 18px;
		}

		@include xs {
			font-size: 16px;
		}
	}
}
